div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left:200px;
    /*animation property*/
    animation-name: myanimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 4;
}

@keyframes myanimation{
    from {background-color: aquamarine;}
    to {background-color: blue;}
}