body {
    text-align: center;
}

div {
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
    align-items: center;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: pink;
    height: 200px;
    flex-shrink: 2;
}

#box3 {
    background-color: darkkhaki;
    height: 75px;
}

#box4 {
    background-color: indianred;
    flex-grow: 3;
}

#box5 {
    background-color: slateblue;
    align-self: flex-end;
    flex-grow: 1;
}