div{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}

@media(width : 400px) {
    div {
        background-color: black;     /* at width 400px background color will be black*/
    }
}

@media(min-width : 600px) {
    div {
        background-color: pink;     /*background color will be pink for width 600px & more than 600px*/
    }
}

@media(max-width : 300px) {
    div {
        background-color: green;  /*background color will be green for width 0px to maximum 300px*/
    }
}

@media(min-width:100px) and (max-width:300px) {
    div {
        background-color: gold;     /*width b/w 100px to 300px the bg color will be gold*/
    }
}