div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
/*static*/

#box1 {
    background-color: brown;
    position: static;
    top: 20px;
}
/*relative*/
#box2 {
    background-color: yellow;
    position: relative;
    top: 20px;
    z-index: 2;
}
/*absolute*/
#box3 {
    background-color: blueviolet;
    position: absolute;
    top: 10px;
    right: 20px;
}
/*fixed*/
#box4 {
    background-color: pink;
    position: fixed;
    top: 20px;
    left: 50px;
}
/*sticky*/
#box5 {
    background-color: fuchsia;
    position: sticky;
    top: 30px;
    right: 20px;
}
