* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 60px;
    background-color: black;
}

button {
    background-color: yellow;
}

#logo{
    color: yellow;
    font-size: 50px;
}

a {
    margin-right: 200px;
}