/* UNITS IN CSS TYPE 1 i.e. ABSOLUTE */

#x {
    font-size: 25px;
    line-height: 40px;
    text-transform: capitalize;
}

#z {
    font-size: 22px;
    text-transform: uppercase;
}

#y {
    text-transform: lowercase;
    line-height: 50px;
}